.nav {
  display: inline-block;
  width: 11rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.nav-content-container {
  height: 100%;
  width: 100%;
  background-color: #e6d283;
  border-radius: 2rem;
  padding: 2rem 0.5rem;
}

.navlinks-container {
  display: flex;
  flex-direction: column;
}
