.home-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  padding: 0 1rem 0rem 1rem;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  align-items: center;
}

.create-post {
  height: 2rem;
}

.post-btn {
  border: 0;
  border-radius: 2rem;
  padding: 0.5rem 4rem;
  background-color: #21355527;
}

.posts-list {
  height: 100%;
  width: 90%;
  padding: 1.5rem;
}
